.logo-img {
    margin-bottom: 0;
}
  
// ul {
// padding: 0 0 0 2em;
// }

// li { list-style: disc; }
// li li { list-style: circle; }
// li li li { list-style: square; }

// .et_pb_text ol, .et_pb_text ul { padding: 0 0 1em 2em; }

// .portfolio-img img {
//     border-radius: 50%;
// }

@import '~bulma';
@import '~bulma-extensions/bulma-timeline/dist/css/bulma-timeline';
@import '~bulma-extensions/bulma-tooltip/dist/css/bulma-tooltip';
